/* #region CSS reset by piccalilli */

/* https://piccalil.li/blog/a-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* #endregion */

/* #region universal selectors */

/* #endregion */
html {

  font-size: 62.5%;
  background-color: #A2B2B8;

}

/* #region header */
header {
  padding: 4rem 10rem;
}
h1 {
  text-align: center;
  color: #6E4949;
  font-size: 4rem;
}

/* #region navbar */
nav {
  display: flex;
  justify-content: center;
  gap: 0rem;
}
a {
  padding: 1rem 3rem;
  text-align: center;
  max-width: 15rem;
  font-size: 2rem;
  text-decoration: none;
  color: #92B6BF;
  background-color: #718394;
  border: 2px solid #323737;
}
a:hover {
  background-color: #92B6BF;
  color: #718394;
  border: 2px solid #323737;
}
/* #endregion */

p {
  text-align: center;
  font-size: 1.5rem;
}



/* #endregion */

/* #region hero */
#hero {
max-height: 40rem;
}
#hero img {
  /* display: inline; */
  max-height: 32rem;
  object-fit: cover;
  object-position: 100% 31%;
  width: 100%;
}
/* #endregion  */

/* #region projects */
.container {
  display: flex;
  margin: 10rem 20rem;
  max-height: 50rem;
  justify-content: center;
  border: 1px solid red;
}

.project {
  display: flex;
  height: 45rem;
  /* max-width: 15rem; */
border: 1px solid orange;
margin: 0rem 1rem;
}

.project img {
display: flex;
  justify-content: center;
  filter: grayscale(20);
  height: 45rem;
  max-width: 15rem;
  min-width: 1rem;
  object-fit: cover;
    /* For Safari 3.1 to 6.0
    -webkit-transition-property: all;
    -webkit-transition-duration: 1s; */
    /* Standard syntax
    transition-property: all;
    transition-duration: 1s; */
  border: 1px solid yellow;
  /* flex-grow: 2; */
}
.project img:hover{
  /* flex-grow: 4; */
  filter: none;
  width: 15rem;
}

.info {
  max-width: 15%;
  /* flex-grow: 1; */
  border: 1px solid green;
}
/* #endregion */
/* #region footer */
footer{
  display: flex;
  justify-content: center;
  background-color: #323737;
  height: 10rem;
  padding: 2rem;
}
footer a {
  max-width: 22rem;
}
/* #endregion */
